# Application
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=movie_ticket_db

# Redis Cache & Concurrency Lock
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ Message Broker
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_movie_ticket_system_2026
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_movie_ticket_system_2026
JWT_REFRESH_EXPIRES_IN=7d

# Initial Admin Credentials (for database seed)
ADMIN_DEFAULT_EMAIL=admin@cinema.com
ADMIN_DEFAULT_PASSWORD=Admin@123456
